body {
	font-family: 'Antraste';
	width: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #F2F2F2;
}

header + img {
	width: 170%;
	position: absolute;
	top: 0em;
	left: -5em;
	z-index: 1;
}

header {
	width: 200%;
	height: 6em;
	background-color: #8090A7;
	z-index: 0.5;
	margin-bottom: 65em;
}

div {
	margin: 0 5%;
	width: 200%;
}

h1 {
	font-size: 40px;
	color: #08174F;
}

h2 {
	font-size: 1.8em;
	color: #08174F;
}

button {
	font-family: 'Antraste';
	font-size: 2em;
	background-color: #849AC1;
	color: #F2F2F2;
	padding: 0.7em 1em 0.5em;
	border-radius: 2em;
	margin: 0.6em 1em 0 0;
	transition: all 1s;
}

button:hover {
	background-color: #08174F;
}

button:focus {
	background-color: #08174F;
}

section {
	width: 140%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
	margin: 4em 5% 0;
}

article {
	background-color: #B9C1CA;
	border-radius: 1.5em;
	text-align: center;
	margin: 0.5em;
}

article img {
	width: 85%;
	padding-top: 1em;
}

p {
	font-size: 1.3em;
	color: #F2F2F2;
	font-family: 'HK Grotesk';
	font-weight: Bold;
	max-width: 13em;
	padding-left: 0.5em;
}


@media(min-width: 70em) {
	header + img {
		width: 100%;
		position: absolute;
		top: 0em;
		z-index: 1;
	}

	h1 {
		font-size: 19px;
	}

	p {
		max-width: 30em;
		padding: 0;
	}

	button {
		font-size: 1em;
	}

	section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: 2em 5% 0;
	}
}
