body {
	font-family: 'Antraste';
	width: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #F2F2F2;
}

header + img {
	width: 140%;
	position: absolute;
	top: 0em;
	left: -4.5em;
	z-index: 1;
}

header {
	width: 200%;
	height: 5em;
	background-color: #8090A7;
	z-index: 0.5;
	margin-bottom: 250px;
}

div {
	margin: 0 5%;
}

div p {
	color: #08174F;
	font-size: 14px;
	max-width: 25em;
}

h1 {
	font-size: 18px;
	color: #08174F;
}

h2 {
	font-size: 1.8em;
	color: #08174F;
}

button {
	font-family: 'Antraste';
	font-size: 0.7em;
	background-color: #849AC1;
	color: #F2F2F2;
	padding: 0.7em 1em 0.5em;
	border-radius: 2em;
	margin: 0.6em 1em 0 0;
	transition: all 1s;
}

button:hover {
	background-color: #08174F;
}

button:focus {
	background-color: #08174F;
}

button:first-of-type {
	display: block;
	margin: 0 auto 2em;
}

section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;
	margin: 5% 0;
}

article {
	background-color: #B9C1CA;
	border-radius: 1.5em;
	text-align: center;
	margin: 0.5em;
}

article img {
	width: 85%;
	padding-top: 1em;
}

p {
	font-size: 1em;
	color: #F2F2F2;
	font-family: 'HK Grotesk';
	font-weight: Bold;
	max-width: 10em;
	padding-left: 0.5em;
}

span {
	display: none;
}

span.show {
	display: block;
	margin: 2em 41%;
}

span img {
	width: 5em;
	display: block;
	margin: 1em auto;
}

@media(min-width: 70em) {
	header {
		width: 100%;
		height: 6em;
		margin-bottom: 48em;
	}

	header + img {
		width: 100%;
		left: 0;
	}

	h1 {
		font-size: 25px;
	}

	div {
		margin: 0 6%;
	}

	div p {
		font-size: 1.2em;
		max-width: 40em
	}

	p {
		max-width: 30em;
		font-size: 1.1em;
		padding: 0;
	}

	button {
		font-size: 1em;
	}

	section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: 2em 5% 0;
	}
}
