html {
	height: 100%;
}

body {
	font-family: sans-serif;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
	margin: 0;
	transition: all 2s;
}

main {
	padding: 0;
	text-align: center;
}

header {
	display: flex;
	justify-content: center;
	height: 9em;
	width: 100%;
	background-color: white;
}

header img {
	width: 250px;
	height: 70px;
	padding: 2em 3.8em;
}

img {
	height: 22em;
	margin: 0.5em;
	border-radius: 0.5em;
}

#images img {
	display: none;
	transition: all 0.5s;
}

#images img:hover {
	height: 15.5em;
}

p,
input,
button,
label {
	font-family: "Avenir Next";
	color: #9599a5;
	font-size: 1em;
}

main p {
	font-size: 2em;
	margin: 2em 0 1em;
}

input[type=text] {
	display: none;
	margin: 2em 1em;
	padding: 0.8em 1.5em;
	width: 16em;
	background-color: #f6f6f6;
	border-radius: 2em;
	border: none;
}

#alles {
	margin-left: 2.5em;
}

input[type=checkbox] {
	display: none;
}

label {
	position: relative;
	display: inline-flex;
	font-size: 1.6em;
	background-color: white;
	padding: 0.4em 1.6em;
	border: 0.5px solid #9599a5;
	border-radius: 2em;
	transition: all 0.5s;
	margin: 0.5em 1em;
}

label > img {
	display: none;
}

input[type=checkbox]:checked + label {
	padding: 0.4em 2em;
	color: white;
	background-color: #9599a5;
}

input[type=checkbox]:checked + label > img {
	display: inline;
	position: absolute;
	right: 0;
	top: 0.25em;
	width: 20px;
	height: 20px;
}

section:last-of-type {
	margin: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* het toekennen van specifieke afbeeldingen aan knoppen*/

#alles_id:checked ~ section img {
	display: flex;
}

#wit_id:checked ~ section .wit {
	display: flex;
}

#zwart_id:checked ~ section .zwart {
	display: flex;
}

#paars_id:checked ~ section .paars {
	display: flex;
}

#blauw_id:checked ~ section .blauw {
	display: flex;
}

#oranje_id:checked ~ section .oranje {
	display: flex;
}

#groen_id:checked ~ section .groen {
	display: flex;
}

footer {
	background-color: white;
	text-align: center;
	margin-top: auto;
}

@media(min-width: 70em) {
	main {
		padding: 0 8em;
		text-align: left;
	}

	header {
		height: 5em;
	}

	header img {
		width: 200px;
		height: 40px;
		padding: 1em 5em;
		margin-right: auto;
	}

	input[type=text] {
		display: inline;
		margin: 1.6em;
		margin-right: 10em;
		padding: 0.4em 1em;
		width: 16em;
		background-color: #f6f6f6;
		border-radius: 2em;
		border: none;
	}

	main p {
		margin-left: 2.5em;
		font-size: 1em;
	}

	label {
		padding: 0.2em 1em;
		display: inline;
		margin: 1em;
		font-size: 1em;
	}

	label:hover {
		padding: 0.2em 1.3em;
		color: white;
		background-color: lightgrey;
	}

	input[type=checkbox]:checked + label {
		padding: 0.2em 1.5em;
	}

	input[type=checkbox]:checked + label:hover {
		background-color: lightgrey;
	}

	input[type=checkbox]:checked + label > img {
		right: 0;
		top: 0.1em;
		width: 11px;
		height: 11px;
	}

	img {
		height: 15em;
	}
}
