body {
	font-family: sans-serif;
	height: 100%;
	background-color: #f6f6f6;
	margin: 0;
}

main {
	padding: 0 8em;
}

header {
	display: flex;
	height: 7em;
	width: 100%;
	background-color: white;
}

header img {
	width: 250px;
	height: 50px;
	padding: 1.5em 3.8em;
	margin-right: auto;
}

img {
	height: 20em;
	margin: 0.5em;
	border-radius: 1em;
}

p,
input,
button {
	font-family: "Avenir Next";
	color: #9599a5;
	font-size: 1.3em;
}

input {
	margin: 1.6em;
	margin-right: 9em;
	padding: 0.4em 1em;
	width: 16em;
	background-color: #f6f6f6;
	border-radius: 2em;
	border: none;
}

section:nth-of-type(1) {
	display: flex;
	margin: 1.5em;
}

section:last-of-type {
	margin: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

button {
	width: 5em;
	height: 2em;
	border-radius: 2em;
	transition: all 1s;
	margin: 0.6em 0.5em;
}

button:hover {
	color: white;
	background-color: #9599a5;
}

footer {
	background-color: white;
	width: 100%;
	text-align: center;
	padding-bottom: 1em;
}


@media(min-width: 70em) {}
